div:hover {
    border-style: solid;
}

#divColor1 {
    border-color: yellow;
    
}

#divColor2 {
    border-color: green;
}

#divColor3 {
    border-color: orange;
    padding: 50px;
}

#divColor4 {
    border-color: purple;
}

#divColor5 {
    border-color: lightpink;
}

.h3italic {
    font-style: italic;
}