li {
    font-size: 20px;
    background-color: yellow;
}

.lipar {
    color: green;
}

.liimpar {
    text-transform: uppercase;
}

.liitalico {
    font-weight: 900;
}

h1, h2, h3 {
    color: red;
}

.h1italico {
    font-size: 40px;
    border-style: solid;
    border-color: black;
}