

body {
    font-size: 16px;
}

h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
    text-align: center;
}

ul {
    background-color: orange;
    line-height: 50px ;
}

.backgroundColor {
    background-color: blue;
}

p {
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

#liYellow {
    background-color: yellow;
}

#liRed {
    background-color: red;
}

#liBrown {
    background-color: brown;
}

#liWhite {
    background-color: white;
}
